<div id="splash">
  <h1 id="logo">Expenser</h1>
  <div>
    <%= link_to 'LOG IN', new_user_session_path, class: "btn", id: "login" %>
    <%= link_to 'SIGN UP', new_user_registration_path, class: "btn", id: "signup" %>
  </div>
</div>